github "httpswift/swifter" "1.4.7"
github "marmelroy/Zip" "1.1.0"
github "erickjung/SwiftGUI" "0.9.1"
github "microsoft/appcenter-sdk-apple" "2.5.3"
github "ReSwift/ReSwift" "5.0.0"
github "JohnSundell/Files" "4.1.1"
github "daltoniam/Starscream" "4.0.0"